@import 'scss/utils/font-template';
@import 'scss/utils/vars';

.loader {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 80px;
  margin: 150px auto;
  color: $colorBrandMain;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
