@import 'scss/utils/vars.scss';
@import 'scss/utils/font-template.scss';

.switcher {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend %body-text;
}

.dropdown {
  position: absolute;
  top: 30px;
  transform: translateX(-22%);
  background-color: $colorBackground;
  border-radius: 4px;
  width: fit-content;
  align-self: flex-start;
  padding: 0px 10px;
  z-index: 2;
}

.btn {
  font-size: 22px;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0;
}

.arrow {
  font-size: $fontSizeTitle;
  color: $dark-shade-50;
}
